*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (max-width: 750px) {
  html {
    font-size: 6px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Code Pro", sans-serif;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
    ". a a ."
    ". a a. ";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;
}

.grid {
  grid-area: a;
  align-self: center;
  justify-self: center;
}

.me_figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
}

@media (min-width: 750px) and (orientation: landscape) {
  .me_figure  {
    padding-top: 6vh;
  }
}
    
.me_pic {
  width: 20%;
  clip-path: circle(50% at 50%);
  margin-bottom: 0.5rem;
}

@media (max-width: 750px) {
  .me_pic  {
    width: 40%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 300px) {
  .me_pic  {
    width: 80%;
  }
}

.me_figcaption {
  width: 46rem;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 750px) {
  .me_figcaption  {
    margin-bottom: 2rem;
  }
}

@media (max-width: 300px) {
  .me_figcaption  {
    width: 100%;
  }
}

.me_job {
  display: block;
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  font-weight: 200;
}

@media (max-width: 300px) {
  .me_job  {
    margin-top: 2rem;
  }
}

.contact_socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.contact_social {
  display: inline-block;
  margin-right: 10px;
  opacity: 0.2;
}

.contact_social:last-child {
  margin-right: 0;
}

.contact_social:hover {
  opacity: 0.6;
  transition: all 0.5s ease-out;
}

.curriculum-vitae {
  display: block;
}

@media (max-width: 750px) {
  .curriculum-vitae  {
    display: none;
  }
}

.curriculum-vitae_figcaption {
  text-align: center;
}